*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: rgb(214, 225, 239);
font-family: 'Outfit'; sans-serif;
}

.QRbox {
  width: 260px;
  height: 400px;
  margin: 150px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow:0 2.5rem 2rem -2rem hsla(200, 50%, 20%, 0.4);
  text-align: center;
}
.logo {
    border-radius: 5%;
    height: 220px;
    width: 240px;
    margin: 10px;
 }
    h1 {
      font-weight: bold;
      font-size: 1.25rem;
      color: #1b1b28;

    }
    p {
      font-size: 0.95rem;
      color: hsl(220, 15%, 55%);
    }


   .QRbox p {
    margin: 1rem 0;
   }

    .attribution { 
      font-size: 0.7rem;
      text-align: center;
      margin-top: 150px;
       }

    .attribution a {
       color: hsl(228, 45%, 44%); 
      }
